---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('external');
  return posts.map(post => ({
    params: { external: post.id }, props: { post },
  }));
}

const { post } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta http-equiv="refresh" content=`0; url=${post.data.redirect}` />
		<title>{post.data.title}</title>
	</head>
</html>
